.emailList {
    flex: 1;
    overflow: scroll;
}

/* hide scrollbar for chrom, Safari */
.emailList::-webkit-scrollbar{
    display: none;
}

/* hide scrollbar for IE, Edge and opera */
.emailList {
    scrollbar-width: none;
}

.emailList_setting {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 0px 6px;
}

.emailList_sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}