.section {
    display: flex;
    align-items: center;
    min-width: 250px;
    cursor: pointer;
    border-bottom-width: 2px;
    padding: 15px;
}

.section-selected {
    background-color: whitesmoke;
    border-width: 3px !important;
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px !important;
}